# .github/workflows/main.yml

name: "DevOps Auditor"

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  # --- JOB 1: SECURITY SCAN ---
  security-scan:
    runs-on: ubuntu-latest

    steps:
      # 1. Get the code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Authenticate to Google Cloud
      - name: Authenticate to GCP
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      # 3. Set up Terraform CLI
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # 4. Run 'terraform init'
      - name: Terraform Init
        working-directory: ./terraform-examples/bad-infra
        run: terraform init
        env:
          GOOGLE_PROJECT: "${{ secrets.GCP_PROJECT_ID }}"

      # 5. Run Checkov
      - name: Scan Terraform with Checkov
        uses: bridgecrew/checkov-action@v12
        with:
          directory: ./terraform-examples/bad-infra
          framework: terraform
          # This is CRITICAL:
          # We explicitly tell it to FAIL the build (no "soft fail")
          soft_fail: false