# .github/workflows/main.yml

name: "DevOps Auditor"

on:
  pull_request:
    branches:
      - main
      - master

permissions:
  contents: read
  pull-requests: write  # Нужно для Infracost комментариев

env:
  TERRAFORM_WORKING_DIR: ./terraform-examples/prod-infra
  GOOGLE_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
  GCP_CSEK_KEY: ${{ secrets.GCP_CSEK_KEY }}
  INFRACOST_API_KEY: ${{ secrets.INFRACOST_API_KEY }}

jobs:
  # --------------------------
  # SECURITY SCAN
  # --------------------------
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ env.GCP_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ${{ env.TERRAFORM_WORKING_DIR }}
        run: terraform init

      - name: Terraform Validate & Plan
        working-directory: ${{ env.TERRAFORM_WORKING_DIR }}
        run: |
          terraform validate
          terraform plan -var="project_id=${{ env.GOOGLE_PROJECT_ID }}" -var="csek_raw_key=${{ env.GCP_CSEK_KEY }}"

      - name: Scan Terraform with Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: ${{ env.TERRAFORM_WORKING_DIR }}
          framework: terraform
          soft_fail: false

  # --------------------------
  # COST SCAN
  # --------------------------
  cost-scan:
    runs-on: ubuntu-latest
    needs: security-scan
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ env.GCP_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ${{ env.TERRAFORM_WORKING_DIR }}
        run: terraform init

      - name: Terraform Plan for Infracost
        working-directory: ${{ env.TERRAFORM_WORKING_DIR }}
        run: terraform plan -out=tfplan -var="project_id=${{ env.GOOGLE_PROJECT_ID }}" -var="csek_raw_key=${{ env.GCP_CSEK_KEY }}"

      - name: Run Infracost
        uses: infracost/infracost-action@v1
        with:
          path: ${{ env.TERRAFORM_WORKING_DIR }}
          terraform_plan_file: tfplan
          github_token: ${{ secrets.GITHUB_TOKEN }}
          infracost_api_key: ${{ env.INFRACOST_API_KEY }}
          behavior: update
          post_condition: |
            {
              "has_diff": true,
              "format": "github-pr"
            }
